*{
    padding: 0;
    margin: 0;
    border: 0;
  
  }
  *,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,:active{outline: none;}
  a:focus,a:active{outline: none;}
  
  nav,footer,header,aside{display: block;}
  
  html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,button,textarea{font-family:inherit;}
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0;border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  ul li{list-style: none;}
  img{vertical-align: top;}
  
  h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
.wrapper {
    
    /* width: 1400px; */
    margin: 0 auto;
    font-weight: bold;
    font-style: 24px;
    
    
}
.head {
    display: block;
    background-color: blue;
    text-align: center;
    padding: 20px;


}
.top {
    
    display: flex;
    
    flex-flow: row wrap;
}
.menu {
    display: flex;
    width: 80%;
    background-color: red;   
}
.search {
    width: 20%;
    background-color: orange;
    padding: 10px;
}
.menu li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
}
.menu li a {
    
	color: cornflowerblue;
	text-decoration: none;
	font-size: 10px;
	background-color: chartreuse;
	padding: 10px 10px;
	display: block;
}
.menu li a:hover{
	background-color: gold;
}
.list {
	display: none;
}
.list li {
	display: block;
}
.menu li a:hover + .list {
	display: block;
}

.search button{
    padding: 8px;
    background-color:yellow;
}
.shb {
    display: flex;
    height: 150px;
}
.shb1 {
    background-color: blue;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.shb2 {
    background-color: mediumspringgreen;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.shb3 {
    display: flex;
    height: 120px;
}
.shb4{
    background-color: red;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shb5{
    background-color: yellow;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shb6{
    background-color: seagreen;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.shb7{
    background-color: royalblue;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    padding: 10px;
    background-color: chartreuse;
    text-align: center;
}
